ytd-app {
	overflow: auto !important;
}
ytd-app[scrolling] {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	right: calc((var(--ytd-app-fullerscreen-scrollbar-width) + 1px) * -1) !important;
	bottom: 0 !important;
	overflow-x: auto !important;
}
ytd-watch-flexy[full-bleed-player] #single-column-container.ytd-watch-flexy,
ytd-watch-flexy[full-bleed-player] #columns.ytd-watch-flexy {
	display: flex !important;
}
.ytp-fullscreen-grid-peeking.ytp-full-bleed-player.ytp-delhi-modern:not(
		.ytp-autohide
	)
	.ytp-chrome-bottom {
	bottom: 0 !important;
	opacity: 1 !important;
}
#movie_player:not(.ytp-grid-ended-state) .ytp-fullscreen-grid {
	display: none !important;
	top: 100% !important;
	opacity: 0 !important;
}
ytd-watch-flexy[full-bleed-player][i-max-theater-mode][theater]:not(
		[fullscreen]
	)
	#full-bleed-container.ytd-watch-flexy {
	height: 56.25vw;
	max-height: 80vh;
}
