$bg: rgba(30, 30, 46, 0.5);
$fg: #f4d9e1;
$border-color: #282828;
$item-bg: #282828;

.bar {
  background: $bg;
  border-bottom: 1px solid $border-color;
  color: $fg;
}

.bar-inner {
  padding: 4px 0px;
}

button {
  background: none;
  border: none;
  border-radius: 0;
}

.workspaces {
  background: $item-bg;
  margin: 0px 8px;
  padding: 4px 4px;
  border-radius: 16px;
  border: solid 0px #f4d9e1;
  font-weight: normal;
  font-style: normal;

  .workspacebutton {
    background: none;
    border: none;
    padding: 0px 5px;
    border-radius: 16px;
    color: #928374;

    &:hover {
      background-color: #f4d9e1;
      color: #000000;
    }
    &.focused {
      color: #f4d9e1;
      &:hover {
        background-color: #f4d9e1;
        color: #000000;
      }
    }
  }
}

.music {
  // margin: 10px 0px 10px 0px;
  padding: 2px 5px 2px 5px;
  font-size: 14px;
}


.taskbar {
  .app {
    font-size: 16px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: rgba(230, 185, 198, 0.2);
    }
  }
}

.right-bg {
  /* background: $item-bg; */
}

.systray {
  background-color: $item-bg;
  border-radius: 16px;
  /* margin: 0px 8px; */
  /* padding: 2px; */
}

.rounded-left {
  border-radius: 16px 0px 0px 16px;
}

.rounded-right {
  border-radius: 0px 16px 16px 0;
}

.date-time {
  background: $item-bg;
  padding:  3px 10px 3px 16px;
  font-weight: 600;
  border-radius: 16px 0px 0px 16px;


  label {
    font-size: 12px;
  }
}
